:root {
  --fonte-principal: Arial, serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(24, 24, 24);
  border: 1px solid red;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}

p {
  font-family: var(--fonte-principal);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.question {
  margin-top: 50px;
  font-size: 24px;
}
.btn-yes {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  margin: 20px;
  font-family: var(--fonte-principal);
}
.btn-no {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  margin: 20px;
  font-family: var(--fonte-principal);
}

.hidden {
  display: none;
}
